

      

 <div class="hero-unit"> 
    <h1>Lets criticise, comment, provoke!</h1>
    <p>Check existing posts and add your perspective </p>
    <%= link_to "Check Posts »", posts_path, class: 'btn btn-primary btn-large' %>
 </div>   
    
<div class="row">
  <div class="span4">
    <h2>You are a new user?</h2>
    <p>Register and start sharing your point of view </p>
    <p><%= link_to "Register »", new_user_registration_path, class: 'btn' %></p>
  </div>
  <div class="span4">
    <h2>You'll feel better by being challenged</h2>
    <p>You have a point of view of your own and you're convinced to be right? What about exposing your ideas and challenging them?</p>
    <p><a class="btn" href="posts/new">Create a post »</a></p>
 </div>
  <div class="span4">
    <h2>Support the Sensical Foundation</h2>
    <p>Have an opinion, act on it, be on the right side of History.</p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
</div>
